.wrapper {
  display: inline-block;
  position: relative;
}

.wrapper .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  opacity: 0.8;
  background: grey;
}
